<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961931208022-pm78s6d0gm4viev7og6c72m0juptd3fc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961931208022-pm78s6d0gm4viev7og6c72m0juptd3fc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>961931208022-cs9dbpiojop8hfrfqt6e59eo3osrgvi4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHibArwD01ggn5XaqBBxcDhwujfysWJqU</string>
	<key>GCM_SENDER_ID</key>
	<string>961931208022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.synqt</string>
	<key>PROJECT_ID</key>
	<string>synqt-8e87c</string>
	<key>STORAGE_BUCKET</key>
	<string>synqt-8e87c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961931208022:ios:dd67b37362b83ed07c22f7</string>
</dict>
</plist>